<h2>Category Listing</h2>
<a [routerLink]="['create']" class="btn btn-info">Create</a>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>SNo</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of categories; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <button type="button" class="btn btn-danger " (click)="deleteCategory(item.id)">Delete</button>
                <button type="button" class="btn btn-warning margin-left" (click)="editCategory(item)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>